/* CSS code to style Ionicons */
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/* CSS code to style downloads button */
a[href^="https://www.facebook.com/groups/2192893134315441"] i {
  font-size: 24px;
  margin-right: 10px;
}

/* CSS code to style Discord button */
a[href^="https://discord.gg/TpK6khC6Br"] i {
  font-size: 24px;
  margin-right: 10px;
}
